{{ if (eq .chezmoi.os "linux") -}}
{{   if (eq .chezmoi.osRelease.idLike "debian" "ubuntu") -}}
#!/bin/bash
#get chezmoi
sh -c "$(curl -fsLS get.chezmoi.io)" -- -b $HOME/.local/bin

{{   end -}}
{{ end -}}
