{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

packages=(
	curl
	wget
	htop
	jq
	python3-pip
	zsh
	mmv
	tmux
	nload
	git
)

sudo apt update

sudo apt install -y ${packages[@]}

{{ end -}}
