{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
# Install homebrew if it's not there already.
if ! brew --version
then
  echo "Instaling Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  brew install --cask wezterm
fi

{{ end -}}
