{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

# Install Homebrew if not already installed
if [ ! -d "/home/linuxbrew/.linuxbrew" ]; then
    echo "Installing Homebrew..."
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "Homebrew is already installed."
fi
{{ end -}}
