{{ if (eq .chezmoi.os "linux") -}}
{{   if (eq .chezmoi.osRelease.idLike "debian" "ubuntu") -}}
#!/bin/bash

set -eufo pipefail

packages=(
        curl
        wget
        htop
        jq
        python3-pip
        zsh
        mmv
        tmux
        nload
        git
        nala
)

sudo apt update

sudo apt install -y ${packages[@]}

{{   end -}}
{{ end -}}
