{
  "ui": {
    "theme": "{{ .chezmoi.homeDir }}/.gemini/antigravity-cli/gruvbox_medium_dark.json"
  },
  "agents": {
    "defaults": {
      "model": {
        "primary": "gemini-3.5-flash",
        "fallbacks": [
          "gemini-3.5-pro"
        ]
      }
    }
  }
}
